/Definition.aux
/TrackEndPointCalc.aux
/TrackEndPointCalc.log
/TrackEndPointCalc.out
/TrackEndPointCalculation.pdf
/TrackEndPointCalculation.synctex.gz
/tmp/
.project
.texlipse
/Documentation.synctex.gz
/Control.aux
/Documentation.aux
/Documentation.bbl
/Documentation.bcf
/Documentation.blg
/Documentation.log
/Documentation.out
/Documentation.run.xml
